POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=replace_me

KEYCLOAK_ADMIN=iam-admin
KEYCLOAK_ADMIN_PASSWORD=replace_me

PORTAL_DB=employee_portal
PORTAL_DB_USER=portal_user
PORTAL_DB_PASSWORD=replace-me