<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
        NovaSecure IAM Governance
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<header>
    <nav class="main-nav">

        <a
            class="nav-brand"
            href="{{ url_for('governance.dashboard') }}"
        >
            NovaSecure IAM Governance
        </a>

        {% if current_user.is_authenticated %}

        <div class="nav-links">

            <a href="{{ url_for('governance.dashboard') }}">
                Dashboard
            </a>

            {% if "identity-viewer" in current_user.client_roles %}
            <a href="{{ url_for('governance.identities') }}">
                Identities
            </a>
            {% endif %}

            {% if "access-review-manager" in current_user.client_roles %}
            <a href="{{ url_for('governance.manage_access_reviews') }}">
                Access Reviews
            </a>
            {% endif %}

            {% if "access-reviewer" in current_user.client_roles %}
            <a href="{{ url_for('governance.access_reviews') }}">
                My Reviews
            </a>
            {% endif %}

            {% if "audit-log-reviewer" in current_user.client_roles %}
            <a href="{{ url_for('governance.audit_log') }}">
                Audit Log
            </a>
            {% endif %}

        </div>

        <div class="nav-account">

            <span>
                {{ current_user.name or current_user.username }}
            </span>

            <form
                class="nav-logout-form"
                method="POST"
                action="{{ url_for('auth.logout') }}"
            >
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                >

                <button
                    class="nav-link"
                    type="submit"
                >
                    Log out
                </button>

            </form>

        </div>

        {% else %}

        <a href="{{ url_for('auth.login') }}">
            Log in
        </a>

        {% endif %}

    </nav>
</header>


<main>
    {% block content %}
    {% endblock %}
</main>

</body>

</html>

